.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
.git/**
*.vsix
.DS_Store
thumbs.db
ejemplo_demo.qz
DESARROLLO.md
ejemplos-lenguaje-quetzal/**
contexto-ia/**
out/formateador_nuevo.js
